<!DOCTYPE html>
<html>
<head>
  <title>Carousel</title>
  <style type="text/css">
  </style>
</head>

<body>
  <!-- This file lives in public/500.html -->
  <div class="container">
	<div class='row'>
		<div class='span6 well'></div>
		
		<div id='myCarousel' class'carousel'>
			<div class='carousel-inner'>
				<div class='item'><img src='aapl.jpeg'></div>
				<div class='item'><img src='mac.png'></div>
				<a class='carousel-control left' href='#myCarousel' data-slide='prev'>>&lsaquo;</a>
				<a class='carousel-control right' href='#myCarousel' data-slide='next'>>&rsaquo;</a>
			</div>
		
		</div>
	</div>

  </div>
  
  <script src='js/carousel.js'>  </script>
</body>
</html>
